*{
    margin:0;
    padding:0;
}

body{
    width:100vw;
    height:100vh;
    position:relative;
}
#test{
    position:absolute;
    left:0;
    top:0;
    background:black;
    color:white;
}
#game_name{
    width:300px;
    height:60px;
    position:absolute;
    left:calc(50% - 150px);
    top:2%;
    z-index:10;
    display:flex;
    justify-content:center;
    align-items:center;
    transition:1s;
    overflow:hidden;
    transform-style:preserve-3d;
}
#game_info{
    transform-origin:center center -100px;
    font-size:2rem;
    font-weight:bold;
    transition:1s;
}
#monitor{
    width:900px;
    height:600px;
    position:absolute;
    left:calc(50% - 450px);
    top:14%;
    background:#323b3d;
}
#start_cover{
    width:600px;
    height:600px;
    position:absolute;
    background:#323b3d;
    left:0;
    top:0;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:1.4rem;
    color:#1ddc00;
    font-family:monospace;
    font-weight:bold;
    transition:1s;
    
    display:none;
}
.init_event{
    opacity:0;
}
#initiate_button{
    cursor:pointer;
}
#game_container{
    width:600px;
    height:600px;
    background:white;
    margin:0 auto;
    position:relative;
    overflow:hidden;
}
#monitor:before{
    content:'';
    display:block;
    width:100%;
    height:40px;
    background:#e7e3dd;
    position:absolute;
    left:0;top:-40px;    
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}
#monitor:after{
    content:'';
    display:block;
    width:100%;
    height:40px;
    background:#e7e3dd;
    position:absolute;
    left:0;bottom:-40px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
#background{
    width:100%;
    height:100%;
    position:absolute;
    left:0;
    top:0;
    z-index:-1;
    overflow:hidden;
}
#background_upper{
    width:100%;
    height:80%;
    position:absolute;
    left:0;top:0;
    background:#91b3b9;
}
#background_below{
    width:100%;
    height:20%;
    position:absolute;
    left:0;
    bottom:0;
    background:#877869
}
#desktop{
    width:700px;
    height:200px;
    background-image:url('./img/desktop.png');
    background-size:100% 100%;
    position:absolute;
    left:calc(50% - 350px);
    top:-50px
}
#postit1{
    position:absolute;
    right:5%;
    top:30%;
    width:250px;
    height:80px;
    background-image:url('./img/postit1.png');
    background-size:100% 100%;
    transform:rotateZ(5deg);
    z-index:1;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;
}
.postit_container{
    font-size:1.5rem;
    width:80%;
    height:50%;
    display:flex;
    align-items:center;
    justify-content:space-around;
    font-weight:bold;
}
.postit_container > div{
    width:40%
}
#postit2{
    position:absolute;
    right:5%;
    top:40%;
    width:250px;
    height:80px;
    background-image:url('./img/postit2.png');
    background-size:100% 100%;
    transform:rotateZ(-5deg);
    z-index:1;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;
}
.postit_cover{
    width:100%;
    height:100%;
    position:absolute;
    left:0;
    top:0;
    background:#91b3b9;
    transition:1s;
}
.postit_cover_off{
    left:100%;
}
#mouse{
    width:100px;
    height:130px;
    position:absolute;
    right:12%;
    top:60%;
    z-index:5;
    opacity:0;
    transition:1s;
    overflow:hidden;
}
#mouse_background{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    
    overflow:hidden;
}
#mouse_background_image{
    width:100%;
    height:100%;
    position:absolute;
    left:0;
    top:0;
    background-image:url('./img/mouse.png');
    background-size:100% 100%;
}
.mouse_button{
    width:50%;
    height:50%;
    position:absolute;
    cursor:pointer;
}
#left_button{
    left:0;
    top:0;
}
#right_button{
    right:0;
    top:0;
}
#left_hover_background{
    width:50%;
    height:50%;
    position:absolute;
    left:0;
    top:0;
}
#right_hover_background{
    width:50%;
    height:50%;
    position:absolute;
    right:0;
    top:0;
}

#game{
    background:#d0d4d5;
    width:100%;
    height:100%;
    position:absolute;
    left:0;
    top:-100%;
    transition:1s;
    transition-timing-function: cubic-bezier(.35,.62,.67,1.24)
}
.game_on{
    top:0 !important;
}
#list_cover{
    width:100%;
    height:100%;
    position:absolute;
    left:0%;
    top:0;
    display:flex;
    justify-content:space-around;
    flex-direction:column;
    align-items:center;
    background:#323b3d;
}

#game_list{
    width:60%;
    height:50%;
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content:space-between;
    font-family:monospace;
    font-size:2rem;
    color:#1ddc00;
}
.li{
    cursor:pointer;
    transition:.3s;
}
.li:hover{
    color:white;
}

#game_exit{
    width:20px;
    height:20px;
    position:absolute;
    right:1%;
    top:1%;
    border-radius:5px;
    background:#323b3d;
    cursor:pointer;
}
#game_exit::after{
    content:'';
    width:20px;
    height:20px;
    display:block;
    position:absolute;
    transform:rotateZ(45deg);
    left:-7px;top:7px;
    border-top:1px solid white;
}
#game_exit::before{
    content:'';
    width:20px;
    height:20px;
    display:block;
    position:absolute;
    transform:rotateZ(-45deg);
    left:7px;top:7px;
    border-top:1px solid white;
}