*{
    margin:0;
    padding:0;
}
body{
    width:100vw;
    height:100vh;
    overflow:hidden;
    background:#fafafa;
    position:relative;
}
#main_cover{
    width:900px;
    height:700px;
    position:absolute;
    left:calc(50% - 450px);
    top:calc(50% - 350px);
    border-radius:12px;
    box-shadow: 0px 0px 1px rgba(20, 20, 20, 0.08), 0px 1px 8px 2px rgba(20, 20, 20, 0.08);
    transition:1s;


    display: none;
}
#start_button{
    width:80px;
    height:100px;
    background:url('./img/desk.png');
    background-size:100% 100%;
    position:absolute;
    left:calc(50% - 40px);
    top:calc(50% - 50px);
    cursor:pointer;
    transition:1s;
}
#start_button:hover{
    transform:scale(2);
}
#screen{
    width:900px;
    height:700px;
    position:absolute;
    left:calc(50% - 450px);
    top:calc(50% - 350px);
    box-shadow: 0px 0px 1px rgba(20, 20, 20, 0.08), 0px 1px 8px 2px rgba(20, 20, 20, 0.08);
    background:#fafafa;
    /* opacity:0; */
    opacity:1;
    transition:1s;
    overflow:hidden;
    border-radius:12px;
}
#desk{
    /* background:#ddb480; */
    background:#292C2E;
    width:1200px;
    height:1000px;
    position:absolute;
    left:0;
    top:0;

    /* transform:rotateZ(-25deg) translateX(-1300px) translateY(200px); */
    transform:rotateZ(-25deg) translateX(-100px) translateY(200px);
    transition:1s;
}
#wall{
    background:hsl(216, 89%, 76%);
    width:1200px;
    height:500px;
    position:absolute;
    left:0;
    top:0;
    transition:1s;
    /* transform:rotateZ(-25deg) translateX(1000px) translateY(-324px); */
    transform:rotateZ(-25deg) translateX(-100px) translateY(-324px);
}
#tablet{
    position:absolute;
    bottom:0;
    left: 10%;
    width:320px;
    height:200px;
    background:url('./img/tablet.png');
    background-size:100% 100%;
    transition:1s;
    /* opacity:0; */
    cursor:pointer
}
#clock{
    position:absolute;
    left:10%;
    top:10%;
    width:120px;
    height:144px;
    background:url('./img/clock.png');
    background-size:100% 100%;
    transition:1s;
    /* opacity:0; */
    cursor:pointer
}
#calendar{
    position:absolute;
    left:80%;
    top:25%;
    width:120px;
    height:168px;
    background:url('./img/calendar.png');
    background-size:100% 100%;
    transition:1s;
    /* opacity:0; */
    cursor:pointer
}
#note{
    position:absolute;
    left:50%;
    top:50%;
    width:240px;
    height:150px;
    background:url('./img/note.png');
    background-size:100% 100%;
    transition:1s;
    /* opacity:0; */
    cursor:pointer
}
#note:hover{
    transform:translateY(-10px);
}
#calendar:hover{
    transform:translateY(-10px);
}
#tablet:hover{
    transform:translateY(-10px);
}
#clock:hover{
    transform:translateY(-10px) ;
}
#background_cover{
    width:100vw;
    height:100vh;
    background:rgba(0,0,0,.8);
    position:absolute;
    left:0;
    top:0;
    transition:1s;
    opacity:0;
    /* opacity:1 */
    display:none;
}

#clock_window{
    position:absolute;
    width:850px;
    height:200px;
    background:#fafafa;
    border:4px solid black;
    border-radius:12px;
    left:calc(50% - 425px);
    display:flex;
    top:130%;
    /* top:calc(50% - 100px); */
    transition:1s;
    justify-content:space-around;
    align-items:center;
    font-family:'pretendard';
}
#exit_clock_button{
    width:30px;
    height:30px;
    border:3px solid #fafafa;
    border-radius:12px;
    cursor:pointer;
    position:absolute;
    right:20%;
    top:14%;
    display:none;
}
#exit_clock_button::after{
    width:25px;
    height:1px;
    border:1px solid #c4c4c4;
    background:#c4c4c4;
    content:'';
    position:absolute;
    transform:rotateZ(45deg);
    left:5%;
    top:47%;
}
#exit_clock_button::before{
    width:25px;
    height:1px;
    border:1px solid #c4c4c4;
    background:#c4c4c4;
    content:'';
    position:absolute;
    transform:rotateZ(-45deg);
    left:5%;
    top:47%;
}
.clock_box{
    background:rgb(29, 29, 29);
    width:12%;
    height:80%;
    border-radius:12px;
    display:flex;
    justify-content:center;
    align-items:center;
    color:#fafafa;
    font-size:8rem;
    overflow:hidden;
    backface-visibility: hidden;
    position:relative;
}
.clock_back{
    background:rgb(29,29,29);
    position:absolute;
    left:0;
    top:0;
    transform:rotateZ(180deg);
    backface-visibility: hidden;
}
.clock_number{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    backface-visibility: hidden;
    transform-origin:center center -100px;
    transition:1s;
    transform:rotateX(0);
}
.space{
    background:#fafafa;
    width:5%;
    height:80%;
    display:flex;
    justify-content: center;
    align-items:flex-start;
    font-size:6rem;
}

#calendar_window{
    position:absolute;
    width:800px;
    height:500px;
    background:#fafafa;
    border:2px solid black;
    border-radius:12px;
    left:calc(50% - 400px);
    display:flex;
    top:130%;
    /* top:calc(50% - 250px); */
    transition:1s;
    justify-content:space-around;
    align-items:center;
    overflow:hidden;
    font-family:'Oswald', sans-serif;
}
#exit_calendar_button{
    width:30px;
    height:30px;
    border:3px solid #fafafa;
    border-radius:12px;
    cursor:pointer;
    position:absolute;
    right:20%;
    top:14%;
    display:none;
}
#exit_calendar_button::after{
    width:25px;
    height:1px;
    border:1px solid #c4c4c4;
    background:#c4c4c4;
    content:'';
    position:absolute;
    transform:rotateZ(45deg);
    left:5%;
    top:47%;
}
#exit_calendar_button::before{
    width:25px;
    height:1px;
    border:1px solid #c4c4c4;
    background:#c4c4c4;
    content:'';
    position:absolute;
    transform:rotateZ(-45deg);
    left:5%;
    top:47%;
}

#calendar_left{
    width:300px;
    height:100%;
    background:#527aff;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    color:white;

}
#calendar_detail_date{
    font-size:8rem;
    font-weight: bold;;
    
}
#calendar_detail_day{
    font-size:1.7rem;

}
#calendar_detail_todos{
    padding:25px;
    width:225px;
    height:225px;
    display:flex;
    flex-direction: column;
    font-size:1.1rem;
}

#calendar_todos{
    font-weight:bold;
}
.calendar_todo{
    color:white ;
    margin-bottom:5px;
    display:flex;
    justify-content:space-between;
    width:100%;
}
.calendar_todo_text{
    width:80%;
    height:100%;
}
.calendar_todo_delete{
    width:20px;
    height:20px;
    background-image:url('./img/delete.png');
    background-size: 100% 100%;
    cursor:pointer;
    margin-right:10px;
}
#calendar_todo_lists{
    width:100%;
    height:95%;
    font-size:.9rem;
    margin:10px 0;
    padding-left:10px;
    overflow:auto;
    color:#c7c7c7;
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items:flex-start;
}
#calendar_todo_lists::-webkit-scrollbar{
    width:3px;
}
#calendar_todo_lists::-webkit-scrollbar-thumb{
    background-color:hsl(226, 100%, 75%);
}
#calendar_todo_lists::-webkit-scrollbar-track{
    background-color:#043eff;
    border-radius:5px;
    box-shadow:inset 0px 0px 5px white;
}

#calendar_todo_input_container{
    width:100%;
    height:35px;
    display:flex;
    border-bottom:2px solid white;
}
#todo_input{
    width:88%;
    height:100%;
    background:none;
    outline:none;
    border:none;
    line-height:20px;
    color:white;
    padding-left:5px;
}
#todo_input::placeholder{
    color:#fafafa;
    line-height:20px;
}
#todo_input:focus { outline:none;}
#todo_submit_button{
    width:21px;
    height:21px;
    background:url('./img/input_button.png');
    background-size:100% 100%;
    cursor:pointer;
}

#calendar_right{
    width:500px;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    align-items:center;
}
#calendar_upper{
    color:#527aff;
    width:40%;
    height:15%;
    font-size:2.5rem;
    font-weight:bold;
    display:flex;
    justify-content:space-between;
    align-items:center;
    position:relative;
}

#calendar_past_button{
    width:40px;
    height:40px;
    position:absolute;
    left:-70px;
    top:30%;
    background:url('./img/calendar_left.png');
    cursor:pointer;
    transition:.5s;
}
#calendar_past_button:hover{
    left:-75px;
}
#calendar_post_button{
    width:40px;
    height:40px;
    position:absolute;
    right:-70px;
    top:30%;
    background:url('./img/calendar_right.png');
    cursor:pointer;
    transition:.5s;
}
#calendar_post_button:hover{
    right:-75px;
}
#calendar_today_button{
    width:38px;
    height:20px;
    position:absolute;
    font-size:.7rem;
    right:5px;
    top:-35px;
    border:2px solid #527aff;
    color:#527aff;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:5px;
    cursor:pointer;
    transition:.3s;
}
#calendar_today_button:hover{
    background:#527aff;
    color:white;
}
#calendar_below{
    width:80%;
    height:70%;
    position:relative;
}
#calendar_container_day{
    display:flex;
    justify-content:space-around;
    font-weight:bold;
    border-bottom:thick double black;
    padding-bottom:10px;

}
.sun{
    color:red;
}
.sat {
    color:blue;
}
#calendar_container{
    margin-top:10px;
    width:100%;
    height:80%;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    align-items:center;
}

.calendar_row{
    width:100%;
    display:flex;
    justify-content: space-around;
    align-items:center;
    text-align:center;
}
.calendar_date{
    width:8%;
    height:65%;
    display:flex;
    justify-content:center;
    align-items:center;
    cursor:pointer;
    border-radius:12px;
    box-sizing: border-box;
    position:relative;
    border:2px solid white;
}
.calendar_clicked{
    border:2px solid #fa6f6f !important;
}
.todo{
    width:7px;
    height:7px;
    position:absolute;
    left:-1px;
    top:-1px;
    background:red;
    border-radius:7px;

}
.current:hover{
    border:2px solid #83a0ff;
}
.past, .post{
    color:rgb(204, 204, 204);
}
.today{
    background:#83a0ff;
    color:white;
}

#alert_cover{
    width:100vw;
    height:100vh;
    position:absolute;
    left:0;
    top:0;
    background:rgba(0,0,0,.4);
    transition:.5s;
    opacity:0;
    display:none;
}
#alert_window{
    width:350px;
    height:250px;
    background:#fafafa;
    position:absolute;
    left:calc(50% - 175px);
    top:-300px;
    /* top:50px; */
    border-radius:12px;
    display:flex;
    justify-content:space-around;
    align-items:center;
    flex-direction:column;
    transition:.5s;
}
.alert_window_on{
    top:50px !important;
}
#alert_image{
    width:70px;
    height:70px;
    margin-top:20px;
    background-size:100% 100%;
    background-image:url('./img/alert.png');
}
#alert_message{
    width:80%;
    font-size:1.1rem;
    font-weight:bold;
    color:#ff7300;
}
#alert_detail{
    width:75%;
    font-size:.9rem;
    white-space:nowrap;
}
#alert_confirm{
    width:50px;
    height:30px;
    border-radius:5px;
    margin-bottom:10px;
    color:#ff7300;
    font-weight:bold;
    font-size:1.1rem;
    border:2px solid #ff7300;
    cursor:pointer;
    display:flex;
    justify-content:center;
    align-items:center;
}


#exit_tablet_button{
    width:30px;
    height:30px;
    border:3px solid #fafafa;
    border-radius:12px;
    cursor:pointer;
    position:absolute;
    right:15%;
    top:10%;
    display:none;
}
#exit_tablet_button::after{
    width:25px;
    height:1px;
    border:1px solid #c4c4c4;
    background:#c4c4c4;
    content:'';
    position:absolute;
    transform:rotateZ(45deg);
    left:5%;
    top:47%;
}
#exit_tablet_button::before{
    width:25px;
    height:1px;
    border:1px solid #c4c4c4;
    background:#c4c4c4;
    content:'';
    position:absolute;
    transform:rotateZ(-45deg);
    left:5%;
    top:47%;
}

#tablet_window{
    width:900px;
    height:600px;
    background:rgba(0,0,0.6);
    position:absolute;
    left:calc(50% - 500px);
    top:130%;
    /* top:calc(50% - 300px); */
    border:2rem solid #fafafa;
    border-right:4.5rem solid #fafafa;
    box-sizing:content-box;
    border-radius:2rem;
    transition:1s;
}

#tablet_home_button{
    width:50px;
    height:50px;
    position:absolute;
    right:-60px;
    top:calc(50% - 25px);
    border-radius:100%;
    border:2px solid gray;
    cursor:pointer;
}
#tablet_camera{
    width:10px;
    height:10px;
    position:absolute;
    top:calc(50% - 25px);
    left:-20px;
    border-radius:100%;
    background:black;
    
}

#tablet_status_bar{
    width:100%;
    height:20px;
    background:rgba(0,0,0,.6);
    position:absolute;
    left:0;
    top:0;
    font-family:'Noto Sans KR', sans-serif;
    font-size:.8rem;
    display:flex;
    justify-content:space-between;
    color:#c7c7c7;
    transition:.5s;
    opacity:0;
}
#status_time{
    margin-left:10px;
}
#status_icons{
    margin-right:10px;
    width:100px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
#status_wifi{
    width:18px;
    height:14px;
    background-image:url('./img/wifi.png');
    background-size:100% 100%;
}
#status_battery{
    width:30px;
    height:100%;
    background-image:url('./img/battery.png');
    background-size: 100% 100%;
}
#tablet_screen{
    width:100%;
    height:100%;
    background-image:url('./img/tablet_background.jpg');
    background-size: 100% 100%;
    transition:.5s;
    position:relative;
    overflow:hidden;
    opacity:0;
    filter:blur(3rem);
}

.tablet_icon{
    width:90px;
    height:90px;
    position:absolute;
   
    cursor:pointer;
}
.grabbing{
    cursor:grabbing !important;
}
#card_game{
    left:0;
    top:20px;
}
#order_game{
    left:0;
    top:130px;
}
#tictactoe_game{
    left:0;
    top:240px;
}
.icon_clicked_cover{
    width:100%;
    height:100%;
    position:absolute;
    left:0;
    top:0;
    background:#2568ac;
    opacity:0;
}
.icon_clicked{
    opacity:.5 !important;
}
.icon_image_container{
    width:100%;
    height:80%;
    display:flex;
    justify-content:center;
    align-items:center;
}

#card_image{
    width:80%;
    height:90%;
    background-image:url('./img/card.png');
    background-size:100% 100%;
}
#order_image{
    width:60%;
    height:60%;
    background-image:url('./img/order.png');
    background-size:100% 100%;
}
#tictactoe_image{
    width:60%;
    height:40%;
    background-image:url('./img/tictactoe.png');
    background-size:100% 100%;
}
.icon_title{
    display:flex;
    justify-content:center;
    align-items:center;
    color:white;
    font-size:.8rem;
}

#tablet_game_screen{
    width:65%;
    height:100%;
    background:#e4eefd;
    position:absolute;
    left:0;
    top:700px;
    transition:.5s;
    display:flex;
    justify-content:center;
    align-items:center;

}
.game_screen_on{
    top:0 !important;
}
#tablet_score_screen{
    width:35%;
    height:100%;
    background:linear-gradient(-30deg,rgb(248, 184, 8), rgb(245, 216, 136) 50%, rgb(255, 174, 0) 100%);
    position:absolute;
    right:0;
    top:-700px;
    transition:.5s;
    display:flex;
    justify-content:space-around;
    align-items:center;
    flex-direction: column;
    font-family:'Jua';
}
#game_container{
    width:100%;
    height:100%;
    border-radius:20px;
    background-image:url('./img/card-background.png');
    background-size:100% 100%;
    display:flex;
    justify-content:space-around;
    align-items:center;
    flex-direction:column;
    
}

#game_count_cover{
    width:100%;
    height:100%;
    position:absolute;
    left:0;
    top:0;
    background:url('./img/card-background.png');
    background-size:100% 100%;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:5rem;
    cursor:pointer;
    transition:.4s;
    /* display:none; */
}

#game_count_cover_button{
    transition:.4s;
    font-size:4rem;
    font-weight:bold;
    font-family:'Pretended';
    color:white;
}
#game_count_cover_button:hover{
    color:hsl(256, 100%, 89%);

}
.game_count_blur{
    opacity:0 !important;
}

.card_row{
    width:100%;
    display:flex;
    justify-content:space-around;
    align-items:center;
}
.card_container{
    height:100%;
    border-radius:15px;
    box-shadow : 0 0 5px white;
    transition:.5s;
    cursor:pointer;
    position:relative;
    overflow:hidden;
    transform-origin:center center;
}
.card_container:hover{
    transform:scale(1.02);
}
.card{
    width:100%;
    height:100%;
    transition:.5s;
    cursor:pointer;
    transform-origin:center center;
    transform-style:preserve-3d;
    /* transform:rotateY(180deg); */
}
.card_front{
    width:100%;
    height:100%;
    position:absolute;
    left:0;
    top:0;
    backface-visibility: hidden;
    background-repeat:no-repeat;
}
.card_back{
    width:100%;
    height:100%;
    background:transparent;
    position:absolute;
    left:0;
    top:0;
    backface-visibility: hidden;
    transform-origin:center center;
    transform:rotateY(180deg);
    background-color:transparent;
    display:flex;
    justify-content:center;
    align-items:center;
}
.card_back_image{
    background-size:100% 100%;
}

.card_back_wrong{
    box-sizing:border-box;
    border-radius:15px;
    animation-name:wrong;
    animation-iteration-count: infinite;
    animation-duration:.3s;
    transform-origin:center center;
    animation-direction: alternate;
    border:2px solid pink;
}
@keyframes wrong{
    0%{
        background:transparent;
    }    
    50%{
        background:rgba(255, 192, 203, 0.527)
    }
    100%{
        background:transparent;
    }
}

.card_back_right_animation{
    animation-name:right;
    animation-iteration-count: infinite;
    animation-duration:.3s;
    transform-origin:center center;
    animation-direction: alternate;
}
.card_back_right{
    box-shadow:0 0 0 3px rgb(110, 255, 122);
    background:rgba(110, 255, 122,.2);
}

#game_transparent_cover{
    width:100%;
    height:100%;
    position:absolute;
    left:0;
    top:0;
    display:none;
}

#tablet_pin{
    width:50px;
    height:50px;
    position:absolute;
    left:150px;
    top:10px;
    background:url('./img/pin.png');
    background-size:100% 100%;
}
#score_screen_space{
    height:5%;
}
#stage_info{
    width:70%;
    height:10%;
    font-size:2rem;
}
#chance_info{
    width:70%;
    height:10%;
    font-size:2rem;
}

#record_info{
    width:70%;
    height:50%;
    font-size:1.5rem;
}

#enroll_cover{
    width:100%;
    height:100%;
    background:rgba(0,0,0,.7);
    position:absolute;
    left:0;
    top:0;
    justify-content:center;
    align-items:center;
    display:none;
    /* display:flex; */
    opacity:0;
    /* opacity:1; */
    transition:.5s;
}

#enroll_window{
    width:50%;
    height:40%;
    background:#fafafa;
    border-radius:12px;
    box-shadow: 0 0 10px 4px #a2ceff;
    display:flex;
    justify-content:space-around;
    align-items:center;
    flex-direction:column;
    font-family:'Jua';
    font-size:1.5rem;
    transform:translateY(-600px);
    transition:.5s;
}
#enroll_input_box{
    width:80%;
    display:flex;
    justify-content:center;
    align-items:center;
}
#enroll_msg{
    color:#449bff;
}
#enroll{
    border:none;
    outline:none;
    background:#fafafa;
    font-family:'Jua';
    font-size:1.3rem;
    width:70%;
    height:45px;
    padding-left:20px;
    border-radius:12px;
    border:1px solid #a2ceff;
}
#enroll::placeholder{
    color:#b7d9ff
}
#enroll_button{
    border:none;
    outline:none;
    background:#fafafa;
    width:60px;
    height:45px;
    font-family:'Jua';
    border:3px solid  #a2ceff;
    border-radius:12px;
    color: #a2ceff;
    margin-left:20px;
    font-size:1.2rem;
    cursor:pointer;
}

.record_list{
    display:flex;
    justify-content:space-between;
    align-items:center;
    font-size:1.1rem;
}