*{
    margin:0;
    padding:0;
}
body{
    width:100vw;
    height:100vh;
    overflow:hidden;
    background:#fafafa;
    position:relative;
}
#main_cover{
    width:900px;
    height:700px;
    position:absolute;
    left:calc(50% - 450px);
    top:calc(50% - 350px);
    border-radius:12px;
    box-shadow: 0px 0px 1px rgba(20, 20, 20, 0.08), 0px 1px 8px 2px rgba(20, 20, 20, 0.08);
    transition:1s;


    /* display: none; */
}
#start_button{
    width:80px;
    height:100px;
    background:url('./img/desk.png');
    background-size:100% 100%;
    position:absolute;
    left:calc(50% - 40px);
    top:calc(50% - 50px);
    cursor:pointer;
    transition:1s;
}
#start_button:hover{
    transform:scale(2);
}
#screen{
    width:900px;
    height:700px;
    position:absolute;
    left:calc(50% - 450px);
    top:calc(50% - 350px);
    box-shadow: 0px 0px 1px rgba(20, 20, 20, 0.08), 0px 1px 8px 2px rgba(20, 20, 20, 0.08);
    background:#fafafa;
    opacity:0;
    opacity:1;
    transition:1s;
    overflow:hidden;
    border-radius:12px;
}
#desk{
    background:#ddb480;
    width:1200px;
    height:1000px;
    position:absolute;
    left:0;
    top:0;

    transform:rotateZ(-25deg) translateX(-1300px) translateY(200px);
    /* transform:rotateZ(-25deg) translateX(-100px) translateY(200px); */
    transition:1s;
}
#wall{
    background:hsl(216, 89%, 76%);
    width:1200px;
    height:500px;
    position:absolute;
    left:0;
    top:0;
    transition:1s;
    transform:rotateZ(-25deg) translateX(1000px) translateY(-324px);
    /* transform:rotateZ(-25deg) translateX(-100px) translateY(-324px); */
}
#tablet{
    position:absolute;
    bottom:0;
    left: 10%;
    width:320px;
    height:200px;
    background:url('./img/tablet.png');
    background-size:100% 100%;
    transition:1s;
    opacity:0;
    cursor:pointer
}
#clock{
    position:absolute;
    left:10%;
    top:10%;
    width:120px;
    height:144px;
    background:url('./img/clock.png');
    background-size:100% 100%;
    transition:1s;
    opacity:0;
    cursor:pointer
}
#calendar{
    position:absolute;
    left:80%;
    top:25%;
    width:120px;
    height:168px;
    background:url('./img/calendar.png');
    background-size:100% 100%;
    transition:1s;
    opacity:0;
    cursor:pointer
}
#note{
    position:absolute;
    left:50%;
    top:50%;
    width:240px;
    height:150px;
    background:url('./img/note.png');
    background-size:100% 100%;
    transition:1s;
    opacity:0;
    cursor:pointer
}
#note:hover{
    transform:translateY(-10px);
}
#calendar:hover{
    transform:translateY(-10px);
}
#tablet:hover{
    transform:translateY(-10px);
}
#clock:hover{
    transform:translateY(-10px) ;
}
#background_cover{
    width:100vw;
    height:100vh;
    background:rgba(0,0,0,.8);
    position:absolute;
    left:0;
    top:0;
    transition:1s;
    opacity:0;
    /* opacity:1 */
    display:none;
}

#clock_window{
    position:absolute;
    width:850px;
    height:200px;
    background:#fafafa;
    border:4px solid black;
    border-radius:12px;
    left:calc(50% - 425px);
    display:flex;
    top:130%;
    /* top:calc(50% - 100px); */
    transition:1s;
    justify-content:space-around;
    align-items:center;
}
#exit_clock_button{
    width:30px;
    height:30px;
    border:3px solid #fafafa;
    border-radius:12px;
    cursor:pointer;
    position:absolute;
    right:20%;
    top:14%;
    display:none;
}
#exit_clock_button::after{
    width:25px;
    height:1px;
    border:1px solid #c4c4c4;
    background:#c4c4c4;
    content:'';
    position:absolute;
    transform:rotateZ(45deg);
    left:5%;
    top:47%;
}
#exit_clock_button::before{
    width:25px;
    height:1px;
    border:1px solid #c4c4c4;
    background:#c4c4c4;
    content:'';
    position:absolute;
    transform:rotateZ(-45deg);
    left:5%;
    top:47%;
}
.clock_box{
    background:rgb(29, 29, 29);
    width:12%;
    height:80%;
    border-radius:12px;
    display:flex;
    justify-content:center;
    align-items:center;
    color:#fafafa;
    font-size:8rem;
    overflow:hidden;
    backface-visibility: hidden;
    position:relative;
}
.clock_back{
    background:rgb(29,29,29);
    position:absolute;
    left:0;
    top:0;
    transform:rotateZ(180deg);
    backface-visibility: hidden;
}
.clock_number{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    backface-visibility: hidden;
    transform-origin:center center -100px;
    transition:1s;
    transform:rotateX(0);
}
.space{
    background:#fafafa;
    width:5%;
    height:80%;
    display:flex;
    justify-content: center;
    align-items:flex-start;
    font-size:6rem;
}

#calendar_window{
    position:absolute;
    width:800px;
    height:500px;
    background:#fafafa;
    border:2px solid black;
    border-radius:12px;
    left:calc(50% - 400px);
    display:flex;
    top:130%;
    /* top:calc(50% - 250px); */
    transition:1s;
    justify-content:space-around;
    align-items:center;
    overflow:hidden;
    font-family:'Oswald', sans-serif;
}
#exit_calendar_button{
    width:30px;
    height:30px;
    border:3px solid #fafafa;
    border-radius:12px;
    cursor:pointer;
    position:absolute;
    right:20%;
    top:14%;
    display:none;
}
#exit_calendar_button::after{
    width:25px;
    height:1px;
    border:1px solid #c4c4c4;
    background:#c4c4c4;
    content:'';
    position:absolute;
    transform:rotateZ(45deg);
    left:5%;
    top:47%;
}
#exit_calendar_button::before{
    width:25px;
    height:1px;
    border:1px solid #c4c4c4;
    background:#c4c4c4;
    content:'';
    position:absolute;
    transform:rotateZ(-45deg);
    left:5%;
    top:47%;
}

#calendar_left{
    width:300px;
    height:100%;
    background:#527aff;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    color:white;

}
#calendar_detail_date{
    font-size:8rem;
    font-weight: bold;;
    
}
#calendar_detail_day{
    font-size:1.7rem;

}
#calendar_detail_todos{
    padding:25px;
    width:225px;
    height:225px;
    display:flex;
    flex-direction: column;
    font-size:1.1rem;
}

#calendar_todos{
    font-weight:bold;
}
.calendar_todo{
    color:white ;
    margin-bottom:5px;
    display:flex;
    justify-content:space-between;
    width:100%;
}
.calendar_todo_text{
    width:80%;
    height:100%;
}
.calendar_todo_delete{
    width:20px;
    height:20px;
    background-image:url('./img/delete.png');
    background-size: 100% 100%;
    cursor:pointer;
}
#calendar_todo_lists{
    width:100%;
    height:95%;
    font-size:.9rem;
    margin:10px 0;
    padding-left:10px;
    overflow:auto;
    color:#c7c7c7;
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items:flex-start;
}

#calendar_todo_input_container{
    width:100%;
    height:35px;
    display:flex;
    border-bottom:2px solid white;
}
#todo_input{
    width:88%;
    height:100%;
    background:none;
    outline:none;
    border:none;
    line-height:20px;
    color:white;
    padding-left:5px;
}
#todo_input::placeholder{
    color:#fafafa;
    line-height:20px;
}
#todo_input:focus { outline:none;}
#todo_submit_button{
    width:21px;
    height:21px;
    background:url('./img/input_button.png');
    background-size:100% 100%;
    cursor:pointer;
}

#calendar_right{
    width:500px;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    align-items:center;
}
#calendar_upper{
    color:#527aff;
    width:40%;
    height:15%;
    font-size:2.5rem;
    font-weight:bold;
    display:flex;
    justify-content:space-between;
    align-items:center;
    position:relative;
}

#calendar_past_button{
    width:40px;
    height:40px;
    position:absolute;
    left:-70px;
    top:30%;
    background:url('./img/calendar_left.png');
    cursor:pointer;
    transition:.5s;
}
#calendar_past_button:hover{
    left:-75px;
}
#calendar_post_button{
    width:40px;
    height:40px;
    position:absolute;
    right:-70px;
    top:30%;
    background:url('./img/calendar_right.png');
    cursor:pointer;
    transition:.5s;
}
#calendar_post_button:hover{
    right:-75px;
}
#calendar_today_button{
    width:38px;
    height:20px;
    position:absolute;
    font-size:.7rem;
    right:5px;
    top:-35px;
    border:2px solid #527aff;
    color:#527aff;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:5px;
    cursor:pointer;
    transition:.3s;
}
#calendar_today_button:hover{
    background:#527aff;
    color:white;
}
#calendar_below{
    width:80%;
    height:70%;
    position:relative;
}
#calendar_container_day{
    display:flex;
    justify-content:space-around;
    font-weight:bold;
    border-bottom:thick double black;
    padding-bottom:10px;

}
.sun{
    color:red;
}
.sat {
    color:blue;
}
#calendar_container{
    margin-top:10px;
    width:100%;
    height:80%;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    align-items:center;
}

.calendar_row{
    width:100%;
    display:flex;
    justify-content: space-around;
    align-items:center;
    text-align:center;
}
.calendar_date{
    width:8%;
    height:65%;
    display:flex;
    justify-content:center;
    align-items:center;
    cursor:pointer;
    border-radius:12px;
    box-sizing: border-box;
    position:relative;
    border:2px solid white;
}
.todo{
    width:7px;
    height:7px;
    position:absolute;
    left:-1px;
    top:-1px;
    background:red;
    border-radius:7px;

}
.current:hover{
    border:2px solid #83a0ff;
}
.past, .post{
    color:rgb(204, 204, 204);
}
.today{
    background:#83a0ff;
    color:white;
}

#alert_cover{
    width:100vw;
    height:100vh;
    position:absolute;
    left:0;
    top:0;
    background:rgba(0,0,0,.4);
    transition:.5s;
    opacity:0;
    display:none;
}
#alert_window{
    width:350px;
    height:250px;
    background:#fafafa;
    position:absolute;
    left:calc(50% - 175px);
    top:-300px;
    /* top:50px; */
    border-radius:12px;
    display:flex;
    justify-content:space-around;
    align-items:center;
    flex-direction:column;
    transition:.5s;
}
.alert_window_on{
    top:50px !important;
}
#alert_image{
    width:70px;
    height:70px;
    margin-top:20px;
    background-size:100% 100%;
    background-image:url('./img/alert.png');
}
#alert_message{
    width:80%;
    font-size:1.1rem;
    font-weight:bold;
    color:#ff7300;
}
#alert_detail{
    width:75%;
    font-size:.9rem;
    white-space:nowrap;
}
#alert_confirm{
    width:50px;
    height:30px;
    border-radius:5px;
    margin-bottom:10px;
    color:#ff7300;
    font-weight:bold;
    font-size:1.1rem;
    border:2px solid #ff7300;
    cursor:pointer;
    display:flex;
    justify-content:center;
    align-items:center;
}

